.container{
  height: 84vh;
}

.img-logo{
  width: 40%;
}

.btn{
  border-color: var(--color-base);
}

.btn:hover{
  background-color: var(--color-base);
}

.logo-store{
  width: 9rem;
}

.link-store{
  color: gray;
  text-decoration: none;
}

.link-store:hover{
  text-decoration: underline;
}